In [188]:
import pandas as pd
import numpy as np

In [189]:
#Importing the movies database
movies_df=pd.read_csv('movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [190]:
#Removing the year from title and inserting as a seperate column
movies_df['year']=movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year']=movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['title']=movies_df.title.str.replace('(\(\d\d\d\d\))','')
movies_df['title']=movies_df['title'].apply(lambda x:x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [191]:
#Splitting the genres into a list
movies_df['genres']=movies_df['genres'].str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [192]:
#Applying One Hot Encoding and changing the genres into numerical values
movies=movies_df.copy()
for index,row in movies_df.iterrows():
    for genre in row['genres']:
        movies.at[index,genre]=1

In [193]:
#Filling the columns with value nan to 0
movies=movies.fillna(0)
movies.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [208]:
#Getting user ratings
#Any number of entries can be given here
userInput=[
            {'title':'Just Go with It', 'rating':4.3},
            {'title':'Crazy Stupid Love', 'rating':4},
            {'title':'300', 'rating':4.5},
            {'title':"Knocked Up", 'rating':4.5},
            {'title':'40-Year-Old Virgin, The', 'rating':4.4},
            {'title': 'The Fault in Our Stars', 'rating':1.5}
        ]
inputMovies=pd.DataFrame(userInput)
inputMovies

   rating                    title
0     4.3          Just Go with It
1     4.0        Crazy Stupid Love
2     4.5                      300
3     4.5               Knocked Up
4     4.4  40-Year-Old Virgin, The
5     1.5   The Fault in Our Stars

In [195]:
#Getting movieId from movies database
inputId=movies_df[movies_df['title'].isin(inputMovies['title']).tolist()]
inputMovies=pd.merge(inputId,inputMovies)
inputMovies

,movieId,title,genres,year,rating
0,35836,"40-Year-Old Virgin, The","[Comedy, Romance]",2005,4.4
1,51662,300,"[Action, Fantasy, War, IMAX]",2007,4.5
2,52973,Knocked Up,"[Comedy, Drama, Romance]",2007,4.5
3,85367,Just Go with It,"[Comedy, Romance]",2011,4.3
4,111921,The Fault in Our Stars,"[Drama, Romance]",2014,1.5
5,151712,Crazy Stupid Love,"[Comedy, Romance]",2013,4.0

In [196]:
inputMovies=inputMovies.drop('genres',1).drop('year',1)
#inputMovies=inputMovies.drop(3).drop(4)
#inputMovies=inputMovies.reset_index(drop=True)
inputMovies

   movieId                    title  rating
0    35836  40-Year-Old Virgin, The     4.4
1    51662                      300     4.5
2    52973               Knocked Up     4.5
3    85367          Just Go with It     4.3
4   111921   The Fault in Our Stars     1.5
5   151712        Crazy Stupid Love     4.0

In [197]:
#Creating a user watched movie table
userMovies=movies[movies['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
10355,35836,"40-Year-Old Virgin, The","[Comedy, Romance]",2005,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11719,51662,300,"[Action, Fantasy, War, IMAX]",2007,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
11869,52973,Knocked Up,"[Comedy, Drama, Romance]",2007,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16914,85367,Just Go with It,"[Comedy, Romance]",2011,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23663,111921,The Fault in Our Stars,"[Drama, Romance]",2014,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34209,151712,Crazy Stupid Love,"[Comedy, Romance]",2013,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [198]:
userMovies=userMovies.reset_index(drop=True)
userGenres=userMovies.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)
userGenres

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [199]:
userGenres.transpose()

                      0    1    2    3    4    5
Adventure           0.0  0.0  0.0  0.0  0.0  0.0
Animation           0.0  0.0  0.0  0.0  0.0  0.0
Children            0.0  0.0  0.0  0.0  0.0  0.0
Comedy              1.0  0.0  1.0  1.0  0.0  1.0
Fantasy             0.0  1.0  0.0  0.0  0.0  0.0
Romance             1.0  0.0  1.0  1.0  1.0  1.0
Drama               0.0  0.0  1.0  0.0  1.0  0.0
Action              0.0  1.0  0.0  0.0  0.0  0.0
Crime               0.0  0.0  0.0  0.0  0.0  0.0
Thriller            0.0  0.0  0.0  0.0  0.0  0.0
Horror              0.0  0.0  0.0  0.0  0.0  0.0
Mystery             0.0  0.0  0.0  0.0  0.0  0.0
Sci-Fi              0.0  0.0  0.0  0.0  0.0  0.0
IMAX                0.0  1.0  0.0  0.0  0.0  0.0
Documentary         0.0  0.0  0.0  0.0  0.0  0.0
War                 0.0  1.0  0.0  0.0  0.0  0.0
Musical             0.0  0.0  0.0  0.0  0.0  0.0
Western             0.0  0.0  0.0  0.0  0.0  0.0
Film-Noir           0.0  0.0  0.0  0.0  0.0  0.0
(no genres listed)  0.0  0.0  0.0  0.0  0.0  0.0

In [200]:
#Creating a user profile
userProfile=userGenres.transpose().dot(inputMovies['rating'])

In [201]:
userProfile

Adventure              0.0
Animation              0.0
Children               0.0
Comedy                17.2
Fantasy                4.5
Romance               18.7
Drama                  6.0
Action                 4.5
Crime                  0.0
Thriller               0.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 0.0
IMAX                   4.5
Documentary            0.0
War                    4.5
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [202]:
genreTable=movies.set_index(movies['movieId'])
genreTable.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,,
1,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [203]:
genreTable=genreTable.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)
genreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151629,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151631,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151641,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151647,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
151655,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151657,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151661,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151663,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151673,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151675,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151677,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151679,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151683,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151685,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151687,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151689,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
151691,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151695,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
151703,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151709,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151712,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [204]:
#Creating the recommendation matrix by multiplying the genre matrix with the user profile matrix and summing and normalizing the result
recommendTable=((genreTable*userProfile).sum(axis=1))/userProfile.sum()
recommendTable

movieId
1         0.362270
2         0.075125
3         0.599332
4         0.699499
5         0.287145
6         0.075125
7         0.599332
8         0.000000
9         0.075125
10        0.075125
11        0.699499
12        0.287145
13        0.000000
14        0.100167
15        0.387312
16        0.100167
17        0.412354
18        0.287145
19        0.287145
20        0.462437
21        0.287145
22        0.100167
23        0.075125
24        0.100167
25        0.412354
26        0.100167
27        0.100167
28        0.412354
29        0.175292
30        0.100167
            ...
151629    0.412354
151631    0.100167
151641    0.100167
151645    0.000000
151647    0.100167
151649    0.000000
151655    0.075125
151657    0.100167
151661    0.412354
151663    0.599332
151667    0.000000
151669    0.000000
151671    0.000000
151673    0.674457
151675    0.287145
151677    0.000000
151679    0.287145
151683    0.100167
151685    0.000000
151687    0.100167
151689    0.000000
151691    0.287145
151695    0.100167
151697    0.000000
151701    0.000000
151703    0.100167
151709    0.100167
151711    0.000000
13000     0.100167
151712    0.599332
Length: 34210, dtype: float64

In [205]:
#The recommendation matrix is created with the recommendations for each film in the range [0,1]
recommendTable=recommendTable.sort_values(ascending=False)

In [206]:
recommendTable.head()

movieId
87745    0.849750
27344    0.849750
26236    0.849750
83266    0.774624
47725    0.774624
dtype: float64

In [209]:
#Using the movieId from the recommendation matrix extract the names of the top 50 recommendations from the movies database
movies_df.loc[movies_df['movieId'].isin(recommendTable.head(50).keys())]

,movieId,title,genres,year
352,356,Forrest Gump,"[Comedy, Drama, Romance, War]",1994
581,587,Ghost,"[Comedy, Drama, Fantasy, Romance, Thriller]",1990
1376,1409,Michael,"[Comedy, Drama, Fantasy, Romance]",1996
1982,2065,"Purple Rose of Cairo, The","[Comedy, Drama, Fantasy, Romance]",1985
2712,2797,Big,"[Comedy, Drama, Fantasy, Romance]",1988
2918,3003,Train of Life (Train de vie),"[Comedy, Drama, Romance, War]",1998
3022,3108,"Fisher King, The","[Comedy, Drama, Fantasy, Romance]",1991
3272,3358,Defending Your Life,"[Comedy, Drama, Fantasy, Romance]",1991
4064,4157,"Price of Milk, The","[Comedy, Drama, Fantasy, Romance]",2000
4298,4392,Alice,"[Comedy, Drama, Fantasy, Romance]",1990
5919,6017,Divine Intervention (Yadon ilaheyya),"[Comedy, Drama, Romance, War]",2002
6268,6373,Bruce Almighty,"[Comedy, Drama, Fantasy, Romance]",2003
8605,26093,"Wonderful World of the Brothers Grimm, The","[Adventure, Animation, Children, Comedy, Drama...",1962
8710,26236,"White Sun of the Desert, The (Beloe solntse pu...","[Action, Adventure, Comedy, Drama, Romance, War]",1970
9296,27344,Revolutionary Girl Utena: Adolescence of Utena...,"[Action, Adventure, Animation, Comedy, Drama, ...",1999
9495,27792,"Saddest Music in the World, The","[Comedy, Drama, Fantasy, Musical, Romance]",2003
10549,39768,Life is a Miracle (Zivot je cudo),"[Comedy, Drama, Musical, Romance, War]",2004
10704,42015,Casanova,"[Action, Adventure, Comedy, Drama, Romance]",2005
11059,45672,Click,"[Adventure, Comedy, Drama, Fantasy, Romance]",2006
11181,46976,Stranger than Fiction,"[Comedy, Drama, Fantasy, Romance]",2006
11234,47452,Wing Chun,"[Action, Comedy, Drama, Romance]",1994
11272,47714,Blithe Spirit,"[Comedy, Drama, Fantasy, Romance]",1945
11276,47725,Angel-A,"[Comedy, Drama, Fantasy, Romance]",2005
11317,48032,"Tiger and the Snow, The (La tigre e la neve)","[Comedy, Drama, Romance, War]",2005
11326,48082,"Science of Sleep, The (La science des rêves)","[Comedy, Drama, Fantasy, Romance]",2006
11506,49668,Girl Shy,"[Action, Comedy, Drama, Romance]",1924
13775,68892,Rhinoceros,"[Comedy, Drama, Fantasy, Mystery, Romance]",1974
14426,72142,Love Exposure (Ai No Mukidashi),"[Action, Comedy, Drama, Romance]",2008
14836,74129,Four Eyed Monsters,"[Comedy, Drama, Fantasy, Romance]",2005
14889,74438,Legend of the Red Dragon (a.k.a. New Legend of...,"[Action, Adventure, Comedy, Drama, Romance]",1994
15001,75408,Lupin III: Sweet Lost Night (Rupan Sansei: Swe...,"[Action, Animation, Comedy, Crime, Drama, Myst...",2008
15073,76153,Lupin III: First Contact (Rupan Sansei: Faasut...,"[Action, Animation, Comedy, Crime, Drama, Myst...",2002
15473,78703,TiMER,"[Comedy, Drama, Fantasy, Romance]",2009
16504,83266,Kaho Naa... Pyaar Hai,"[Action, Adventure, Comedy, Drama, Mystery, Ro...",2000
16838,84957,"Tempest, The","[Comedy, Drama, Fantasy, Romance]",2010
17433,87745,Lazybones,"[Action, Comedy, Drama, Romance, War]",1925
19432,96273,I Hate But Love (Nikui an-chikushô),"[Action, Comedy, Drama, Romance]",1962
20343,99731,Dabangg 2,"[Action, Comedy, Drama, Musical, Romance]",2012
22095,106078,"Great Texas Dynamite Chase, The","[Action, Comedy, Crime, Drama, Romance]",1976
24051,113428,Maniacts,"[Action, Comedy, Drama, Horror, Romance]",2001
25774,120138,PK,"[Comedy, Drama, Fantasy, Mystery, Romance]",2014
26010,121133,Ishq,"[Action, Comedy, Drama, Musical, Romance]",1997
26108,121370,Happy New Year,"[Action, Comedy, Crime, Drama, Musical, Romance]",2014
26618,123532,"Poor Little Rich Girl, The","[Comedy, Drama, Fantasy, Romance]",1917
28374,131122,Love Exposure,"[Action, Comedy, Drama, Romance]",2007
31582,141818,Ordinary Miracle,"[Comedy, Drama, Fantasy, Romance]",1978
31648,141982,Mrs Miracle,"[Children, Comedy, Drama, Fantasy, Romance, Sc...",2009
32827,146232,Loafer,"[Action, Comedy, Drama, Romance]",1996
32854,146305,Princes and Princesses,"[Animation, Children, Comedy, Drama, Fantasy, ...",2000
33914,150268,Dilwale,"[Action, Children, Comedy, Crime, Drama, Romance]",2015